task-manager/.log
task-manager/.DS_Store
task-manager/.env
task-manager/.env.backup
task-manager/.env.production
task-manager/.phpactor.json
task-manager/.phpunit.result.cache
task-manager/.fleet
task-manager/.idea
task-manager/.nova
task-manager/.phpunit.cache
task-manager/.vscode
task-manager/.zed
task-manager/auth.json
task-manager/node_modules
task-manager/public/build
task-manager/public/hot
task-manager/public/storage
task-manager/storage/*.key
task-manager/storage/pail
task-manager/vendor
task-manager/_ide_helper.php
task-manager/Homestead.json
task-manager/Homestead.yaml
task-manager/Thumbs.db
